.projectsWrapper {
    margin-top: 64px;
    


}
.projectsSlider {
    position: relative;
    height: 450px;
}

.heading {
    font-size: 3rem;
    text-align: center;
    font-family: 'Instrument Serif', sans-serif;
    color: var(--gray-1200);
}

.imageWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    aspect-ratio: 3/4;
    /* border: 2px solid deeppink; */
    border-radius: 12px;
    display: grid;
    place-content: center;
    background-color: hsl(103, 85%, 26%);
    transition: transform 200ms ease-in;

         /* to hide image's corners */
    overflow: hidden;
   /* https://smoothshadows.com/#djEsMSw0LDAuNDQsMTQzLDM4LC0yNywjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: -2px 2px 9px rgba(3, 7, 18, 0.11),
  -7px 10px 36px rgba(3, 7, 18, 0.22),
  -15px 21px 80px rgba(3, 7, 18, 0.33),
  -27px 38px 143px rgba(3, 7, 18, 0.44);

}

.projectsSlider:hover .imageWrapper {
    transition: all 600ms cubic-bezier(.03,1.1,.86,.99);

}

.projectsSlider:hover .imageWrapper:nth-of-type(8n+1){
    transform: translateX(-300px) translateY(-140px) rotate(-30deg);
    transition: all 600ms cubic-bezier(.03,1.1,.86,.99);
}.projectsSlider:hover .imageWrapper:nth-of-type(8n+3){
      transform: translateX(-300px) translateY(120px) rotate(20deg);
    transition: all 600ms cubic-bezier(.03,1.1,.86,.99);
}
.projectsSlider:hover .imageWrapper:nth-of-type(8n+5){
     transform: translateX(300px) translateY(-140px) rotate(24deg);
    transition: all 600ms cubic-bezier(.03,1.1,.86,.99);
}
.projectsSlider:hover .imageWrapper:nth-of-type(8n+7){
       transform: translateX(300px) translateY(120px) rotate(-28deg);
    transition: all 600ms cubic-bezier(.03,1.1,.86,.99);
}




.imageWrapper:nth-of-type(2n+1){
    width: 180px;
    aspect-ratio: 4/3;
}

.projectsSlider:hover .imageWrapper:nth-of-type(8n+2) {
    transform: translateX(-150px) translateY(14px) rotate(-30deg);
}

.projectsSlider:hover .imageWrapper:nth-of-type(8n+4) {
    transform: translateX(-60px) translateY(4px) rotate(-10deg);
}

.projectsSlider:hover .imageWrapper:nth-of-type(8n+6) {
    transform: translateX(70px) translateY(12px) rotate(12deg);
}

.projectsSlider:hover .imageWrapper:nth-of-type(8n) {
    transform: translateX(160px) translateY(20px) rotate(22deg);
}




.imageWrapper:nth-of-type(8n+2) {
    transform: rotate(19deg);
    background-color: var(--orange-900);
}
.imageWrapper:nth-of-type(8n+4) {
    transform: translateX(-30px) rotate(-8deg);
    
    background-color: var(--pink-1100);
}
.imageWrapper:nth-of-type(8n+6) {
    transform: rotate(-4deg);
    background-color: var(--green-400);
}
.imageWrapper:nth-of-type(8n+8) {
    transform: translateX(-20px) rotate(7deg);
    background-color: var(--red-700);
}

.imageWrapper img {
    /* width: 100%; */
  
    /* image-orientation: flip; */
    object-fit: fill;
}