.grid {
    display: flex;
    width: 130%;
    
    flex-wrap: wrap;
    /* background-color: var(--white); */
    transform:  skewY(18deg) skewX(-30deg)  
    translateX(-40%) translateY(-10%);
    border: 2px solid dodgerblue;
    background-color: white;
   
    /* transform:  rotateY(-20deg) rotateX(40deg); */

}

.column {
    width: 2.2vw;
    display: inline-block;
    aspect-ratio: 5/6;
    border-right: 1px solid hsla(250deg, 10%, 79%, 0.2);
    border-bottom: 1px solid hsla(250deg, 10%, 79%, 0.2);
    transition: all 1300ms ease-out;

}

.column:hover {
    transition: all 20ms ease-in;
}

.column:nth-of-type(4n):hover {
    background-color: yellow;
}
.column:hover:nth-of-type(4n+1) {
    background-color: var(--pink-900);
}
.column:hover:nth-of-type(4n+2) {
    background-color: var(--green-800);
}
.column:hover:nth-of-type(4n+3) {
    background-color: var(--blue-900);
}
.column:nth-of-type(7n):hover {
    background-color: yellow;
}
.column:hover:nth-of-type(7n+3) {
    background-color: var(--pink-900);
}
.column:hover:nth-of-type(7n+2) {
    background-color: var(--green-800);
}
.column:hover:nth-of-type(7n+6) {
    background-color: var(--blue-900);
}
.column:nth-of-type(8n):hover {
    background-color: yellow;
}
.column:hover:nth-of-type(8n+5) {
    background-color: var(--pink-900);
}
.column:hover:nth-of-type(8n+2) {
    background-color: var(--green-800);
}
.column:hover:nth-of-type(8n+3) {
    background-color: var(--blue-900);
}
.column:nth-of-type(4n):hover {
    background-color: yellow;
}
.column:hover:nth-of-type(4n+1) {
    background-color: var(--pink-900);
}
.column:hover:nth-of-type(4n+2) {
    background-color: var(--green-800);
}
.column:hover:nth-of-type(4n+3) {
    background-color: var(--blue-900);
}