.mask {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 30%, white 100%);
  pointer-events: none;
}

.mask p {
    position: fixed;
    top: 70vh;
    margin-left: 20vw;
    color: var(--blue-900);
    font-size: clamp(1.4rem, 13.9vw - 2.5rem, 4rem);
    font-family: "Instrument Serif", sans-serif;
    animation: vanish ease-in forwards;
    animation-range: entry 10% entry 40%;
    animation-timeline: --about-timeline;
}

/* @keyframes trigger {
    0% {
      transform: translateX(-200px);
      tran
    }
    100% {

    }
} */

@keyframes vanish {

  50%{
    filter: brightness(200%);
    color: white;
    opacity: 0.8;
    filter: brightness(200%) blur(2px) drop-shadow(2px 4px 5px white);;


  }
    to{
      opacity: 0;
      color: white;
      filter: brightness(50%) blur(0px) drop-shadow(2px 4px 5px white);;

        /* transform: rotate(30deg); */
    }
    
}