.mask {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 30%, white 100%);
  pointer-events: none;
}

.mask p {
    position: fixed;
    top: 70vh;
    margin-left: 200px;
    color: var(--blue-900);
    font-size: 4rem;
    font-family: "Instrument Serif", sans-serif;
      animation: vanish ease-in forwards;
    animation-range: exit 0% exit 100%;

    animation-timeline: --grid-timeline;
}

@keyframes vanish {
    to{
        opacity: 0;
        transform: rotate(30deg);
    }
    
}