@font-face {
  font-family:__Inter_d65c78;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(../public/fonts/inter/a34f9d1faa5f3315-s.p.woff2) format("woff2");

}

.wrapper {
  /* overflow: hidden; */
  /* transform-style: preserve-3d;
  perspective: 1500px; */
  background-color: white;
    animation: toWhite ease-in forwards;
  animation-timeline: --about-timeline;
  animation-range: entry 30% entry 70%;

}

.max-width-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

}

.grid-wrapper {
  width: 100%;
  overflow: hidden;
  height: 130vh;
  background-color: var(--white);
  margin-top: -64px;
  isolation: isolate;
  position: relative;
  /* background-color: red; */


}


@keyframes toWhite {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
  
}